/* Typography
 ========================================================================== */

html{
  font-size: 16px;
  font-family: inter, serif;
  background-color: #FAF9F6;
}

h1{
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

h2{
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

h3{
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

h4{
  color: #737373;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

p{
  color: #737373;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 0rem;
}

li{
    color: #737373;
    font-weight: 400;
    line-height: 1.75;
}

.my-logo{
  color: #000;
  font-weight: 700;
  line-height: 1.75;
}

a{
  color: #000;
}

/* Header
 ========================================================================== */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

header nav ul{
  margin: 0rem;
  padding: 0rem;
}

header nav ul li{
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

header a, 
header nav ul li a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #737373;
}

header a:hover,
header nav ul li a:hover {
    color: #000;
}

/* Main
 ========================================================================== */

main{
  padding: 0rem 2rem;
  max-width: 656px;
  margin: 0 auto;
}

.landing-main{
  max-width: none;
}

.landing-intro{
  text-align: center;
  max-width: 656px;
  margin: 0 auto 2rem;
}

/* Landing page Cards
 ========================================================================== */

.cards-section{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.project-card {
    background-color: #fff;
    border: 2px solid #ebeae7;
    border-radius: 0.5rem;
    box-shadow: none;
    display: flex;
    gap: 2rem;
    max-width: fit-content;
    overflow: hidden;
    padding: 1.5rem;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) -5px -2px 25px -5px, rgba(0, 0, 0, 0.1) 5px 10px 10px -5px;
}

.project-card-image {
    flex-shrink: 0;
    overflow: hidden;
    width: 92px;
    height: 92px;
    border-radius: 0.5rem;
}

.project-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
}

.project-card-content {
    max-width: 656px;
    flex-grow: 1;
    margin: auto 0;
}

.project-card-content p{
  margin-bottom: 0;
}

/* Case study
 ========================================================================== */

.casestudy-section h3{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

hr{
  border: 0.5px solid #bbb;
  margin: 2rem 0;
}

 /* Forms
 ========================================================================== */


/* Media query for landing page on smaller devices
 ========================================================================== */

@media (max-width: 589px) {
  
    .project-card {
      flex-direction: column;
      gap: 1rem;
      max-width: 100%;
      align-items: center;
    }

    .project-card-content {
      padding: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .project-card-content h2{
      text-align: center;
    }

    .project-card-content p{
      text-align: center;
    }

    .project-card-image {
      width: 92px;
      height: 92px;
    }

    .project-card-image img {
      width: 92px;
      height: 92px;
  }
}

/* Media query for nav items on smaller screens
 ========================================================================== */

@media (max-width: 369px) {
  header a {
    padding: 0.5rem;
  }
  
  @media (max-width: 321px) {
    header a {
      padding: 0.25rem;
    }
  }
}